gunicorn == 19.9.0
iso8601 == 0.1.12
mongoengine == 0.16.3
numpy == 1.16.2
pyjwt == 1.7.1
python_dateutil == 2.6.0
setuptools >= 21.0.0
stomp.py == 4.1.20
strict-rfc3339 >= 0.7
pandas == 0.24.2
cryptography == 3.2
aiohttp == 2.3.10
aiodns == 2.0.0
werkzeug == 0.15.6 
connexion == 1.5.3
